{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container-fluid" style="font-size:x-large;background-color:rgb(26, 19, 88);">
    <div class="row">
        <!-- Empty div -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <div class="col-md-4">
            {% if form.errors %}
            <p> Check your information and before submiting </p>
            {% endif %}
            <div class="card" id="user">

                <div class="card-header">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <h2>Latest Instagram</h2>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="card-body">

                <form  action="/accounts/register/" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                        <input type="submit" class="btn btn-outline-primary " value="Sign Up" style="width:110px;text-align: center;margin-left: 40%;font-size: x-large;">
                    </div>

                    <input type="hidden" name="next" value="{{next}}">

                </form>

            </div>
            <div class="card text-center">
                <p>Open an account now <a href="/accounts/login/?next=/">sign-in</a></p>
            </div>
        </div>

    </div>
</div>

{% endblock %}