
{% extends 'inst/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="font2">{{message}}</h2>
        </div>
    </div>
    <div class="row">
        {% if profiles %}
            {% for profile in profiles %}
                <div class="col-md-3 home-images search-results">
                    <img src="{{data.image.url}}l}}" alt="profile-photo">
                    <p>{{profile.user.email}}</p>
                    <p class="username">{{user.username}} </p>
                    <p>Bio:{{user.profile.bio}}</p>
                </div>
            {% endfor %}
        {% else %}
                    <h4>No results for {{message}} </h4>
        {% endif %}
    </div>
{% endblock %}