<!-- Image and text -->
<nav style="background-color: #00897b; min-height: 80px;;">
    <a class="navbar-brand" href="{% url 'index_page' %}">
    </a>
      <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search' %}" style="float: right; padding-right: 10%; line-height: 20px; padding-top: 20px; padding-bottom: 20px;">
        <input type="text" class="form-control my-2 my-sm-0 search-input" name="search" placeholder="Search username" id="search">
        <button class="btn btn-outline-primary" style="color:whitesmoke; background-color:rgb(30, 19, 80);">Submit</button>
      </form>
        {% if user.is_authenticated %}
        
            <!-- <li class="dropdown" style="list-style-type: none;font-size: x-large;">
                <a style="font-size:large;color:whitesmoke" href="#" class="dropdown-toggle btn btn-outline-primary" data-toggle="dropdown" role="button" aria-expanded="false">Account
                    <span class="caret"></span>
                </a> -->
            <div class="w3-show-inline-block" style="line-height: 20px; padding-top: 20px; padding-bottom: 20px; justify-content: space-between;">
              <div class="w3-bar">  
                        <a href="{%url 'index_page'%}"><button class="w3-btn w3-black" style= "background-color:rgb(30, 19, 80);"
                            >Home</button></a>
                            <a href="/upload"><button class="w3-btn w3-black" style= "background-color:rgb(30, 19, 80);"
                                >Add Image</button></a>
                        <a href="/accounts/password/change"><button class="w3-btn w3-black" style= "background-color:rgb(30, 19, 80);">Change Password</button></a>
                        <a href="/logout"><button class="w3-btn w3-black" style= "background-color:rgb(30, 19, 80);border-radius:80%;">Logout</button></a>
              </div>
            </div>
        {% else %}
        <li>
            <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>

        {% endif %}
    </div>

</nav>